<header class="task-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-flex align-items-center">
          <a [routerLink]="authService.isLoggedIn() ? '/tutorial' : '/home'" 
            class="header-icon me-3" 
            [title]="authService.isLoggedIn() ? 'Tutorial' : 'Inicio'">
            <i class="fas fa-home"></i>
          </a>

          <a [routerLink]="authService.isLoggedIn() ? '/tasks' : '/incomingFeatures'" 
            class="header-icon" 
            [title]="authService.isLoggedIn() ? 'Mis Tareas' : 'Funcionalidades'">
            <i class="fas fa-paint-brush"></i>
          </a>
        </div>
      </div>
      <div class="col-auto">
        <a [routerLink]="authService.isLoggedIn() ? '/profile' : '/login'" 
           class="header-icon" 
           [title]="authService.isLoggedIn() ? 'Perfil' : 'Iniciar sesión'">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</header>