<header class="task-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-flex align-items-center">
          <a routerLink="/home" class="header-icon me-3" title="Inicio">
            <i class="fas fa-home"></i>
          </a>
          <a routerLink="/tasks" class="header-icon" title="Mis Tareas">
            <i class="fas fa-paint-brush"></i>
          </a>
        </div>
      </div>
      <div class="col-auto">
        <a routerLink="/account" class="header-icon" title="Perfil">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</header>